div {
    border: 1px solid blue;
    text-align: center;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    /*Remove all the outside
    borders of the existing table*/
}
table td {
    padding: 0.5rem;
    border: 5px solid orange;
}
table th {
    padding: 0.5rem;
    border: 5px solid ForestGreen;
}

