{% extends "base.html" %}




{% block content %}

    <template id="matchTemplate">
        <h1 id="matchNum">zz</h1>
        <table style="border-width: 1px; border-collapse: unset; border-spacing: 5px">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>School/Sponsor</th>
                <th>City</th>
            </tr>

            <tr color="red" style="background-color: rgb(131, 14, 18); color: white">
            </tr>
            <tr color="red" style="background-color: rgb(131, 14, 18); color: white">
            </tr>

            <tr color="blue" style="background-color: rgb(0, 65, 114); color: white">
            </tr>
            <tr color="blue" style="background-color: rgb(0, 65, 114); color: white">
            </tr>

        </table>
    </template>

    <div id="matchesData">

    </div>
    <script>
        const apikey = '{{ apikey }}'
        const scoreIP = '{{ scoreIP }}'
        const eventCode = '{{ eventCode }}'
        console.log(apikey, scoreIP, eventCode)

        const headers = {"Authorization": apikey}

        async function getTeamData(teamNumber) {

            const url = `http://${scoreIP}/api/v1/events/${eventCode}/teams/${teamNumber}/`
            const teamData = await fetch(url, {headers,}).then(res => res.json()).catch(a => {
                return ""
            })
            if (teamData === "") {
                return "Rate Limit error"
            }
            console.log(teamData)
            return "<td>" + teamData.number + "</td>" +
                "<td>" + teamData.name + "</td>" +
                "<td>" + teamData.school + "</td>" +
                "<td>" + teamData.city + "</td>";

        }

        async function showData() {

            matchHTML = document.getElementById("matchesData")
            matchHTML.innerHTML = ""

            const keycheck = await fetch(`http://${scoreIP}/api/v1/keycheck/`, {headers,}).then(res => res.json()).catch(a => {
                return "zz"
            })
            console.log(headers, keycheck)

            const matchData = await fetch(`http://${scoreIP}/api/v1/events/${eventCode}/matches/active/`, {headers,}).then(res => res.json()).catch(a => {
                return ""
            })

            console.log(matchData)
            if (matchData === "") {
                matchHTML.innerHTML = "<h1> Rate Limit </h1>"
                return;
            }
            if (matchData.matches.length == 0) {
                matchHTML.innerHTML = "<h1> Waiting for match load... </h1>"
                return;
            }

            if (keycheck.active == undefined) {
                matchHTML.innerHTML = "<h1> API Key Not Valid</h1>"
            } else if (keycheck.active == false) {
                matchHTML.innerHTML = "<h1> API key not approved by scorekeeper. May hit ratelimit </h1>"
            }


            for (const match of matchData.matches.sort((a, b) => {
                return a.matchNumber > b.matchNumber
            })) {
                console.log(match, matchHTML)

                const template = document.querySelector("#matchTemplate");

                // Clone the new row and insert it into the table
                const clone = template.content.cloneNode(true);
                clone.querySelector("#matchNum").textContent = "Match " + match.matchName;
                let tr = clone.querySelectorAll("tr");
                console.log(tr)

                tr[1].innerHTML = await getTeamData(match.red.team1);
                tr[2].innerHTML = await getTeamData(match.red.team2);
                tr[3].innerHTML = await getTeamData(match.blue.team1);
                tr[4].innerHTML = await getTeamData(match.blue.team2);


                matchHTML.appendChild(clone);

            }
        }

        showData()
        const exampleSocket = new WebSocket(`ws://${scoreIP}/api/v2/stream/?code=${eventCode}`);
        exampleSocket.onmessage = (event) => {
            console.log(event.data);
            if (event.data === "pong") {
                return
            }
            const msg = JSON.parse(event.data)
            console.log(msg.updateType)
            if (msg.updateType == "MATCH_LOAD" || msg.updateType == "MATCH_COMMIT") {
                console.log("showing...")
                showData()
            }


        };

    </script>

{% endblock content %}