<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

    table.table th:last-child {
        width: 100px;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

    table.table td a.add {
        color: #27C46B;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }

    table.table td a.cancel {
        color: #E34724;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

    table.table .form-control.error {
        border-color: #f50000;
    }

    table.table td .add, table.table td .update, table.table td .cancel {
        display: none;
    }

    nav.navbar a {
        text-decoration: none;
        color: rgba(0, 0, 0, .5);
        font-weight: normal;
        padding: .5rem;
    }

    nav.navbar .active {
        font-weight: bold;
    }

    nav.navbar > ul {
        list-style: none;
    }

    nav.navbar ul li {
        display: block;
        width: 150px;
        margin-right: 20px;
        float: left;
    }

    nav.navbar ul > li > a:hover {
        background-color: #eeeecc;
    }

    nav.navbar ul .subgroup {
        padding-left: 0;
    }

    h1 {
        clear: both;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link href="/static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script defer src="/static/fontawesome-free-5.15.4-web/js/all.js"></script> <!--load all styles -->
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="> <!-- Dummy favicon -->
    {% block style %}
    {% endblock style %}
    {% block extra_head %}
    {% endblock extra_head %}

</head>

<body>
{% include 'navbar.html' %}
{% block content %}
{% endblock content %}

<script src="/static/jquery-3.6.0.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
{% block javascript %}
{% endblock javascript %}
</body>

</html>