{% extends "base.html" %}
{% set active_page = "update_kiosk" %}

{% block content %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <header>
        {% block header %}{% endblock %}
    </header>
    <style>
        tr:nth-child(2n+3) {
            background-color: lightgrey;
        }
    </style>
    <form action="{{ url_for('update_kiosk') }}" method="post">
        <table class="table-bordered">
            <tr>
                <th>Kiosk Address</th>
                <th>Kiosk Name</th>

                <th>Group</th>
                <th>Web</th>
                <th>VNC</th>
                <th>NDI</th>
                <th>Restart</th>
                <th>Shutdown</th>
                <th>Clear Local Redis DB</th>

            </tr>
            {% for form in names %}
                {#        <tr > class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">#}
                <tr>

                    <td>
                        <label>{{ form.name }}</label>
                        <input type="hidden" name="{{ form.name + "|name" }}" value="{{ form.name }}">
                    </td>
                    <td>
                        <input type="text" name="{{ form.name + "|friendly_name" }}" value="{{ form.friendly_name }}">
                    </td>


                    <td>
                        <select name={{ form.name + "|group" }} method="GET">
                            {% for group in groups %}
                                {% if form.group == group %}
                                    <option value="{{ group }}" SELECTED>{{ group }}</option>"
                                {% else %}
                                    <option value="{{ group }}">{{ group }}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><a href="http://{{ form.main_url }}"><i class="fas fa-home"></i></a></td>
                    <td>
                        {% if form.vnc_support == "true" %}
                            <a href="{{ form.vnc_address }}"><i class="fas fa-mouse"></i></a>
                        {% endif %}
                    </td>

                    <td>
                        {% if form.ndi_support == "true" %}
                            <a href="{{ form.ndi_address }}"><i class="fas fa-video"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if form.systemctl_support == "true" %}
                            <i class="fas fa-sync" onclick="confirmButton('{{ form.api_url  }}','restart')" title="Restart Server"></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if form.systemctl_support == "true" %}
                            <i class="fas fa-power-off" onclick="confirmButton('{{ form.api_url  }}','shutdown')" title="Shutdown"></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if form.systemctl_support == "true" %}
                            <i class="fas fa-eraser" onclick="confirmButton('{{ form.api_url  }}','clear redis')" title="Clear Redis"></i>
                        {% endif %}
                    </td>

                </tr>

            {% endfor %}

        </table>
        <input type="submit" value="Update">
    </form>



{% endblock content %}


{% block javascript %}
    <script type="text/javascript">
        function confirmButton(host,type) {
            if(confirm(type+host)){
                if (type=="shutdown"){
                    $.get(`http://${host}/shutdown_stick`)
                }
                else if (type=="restart")
                {
                    $.get(`http://${host}/restart_service`)
                } else if (type=="clear redis")
                {
                    $.get(`http://${host}/clear_redis`)
                }

            }

        }
    </script>
{% endblock %}