
{% extends 'base.html' %}
{% set active_page = "config_pages" %}

{% block javascript %}
    <script type="text/javascript">

        $("#AddEvent").on("click", function () {
            var ip = $("#eventIP").val()
            var prefix = $("#prefix").val()
            var event = $("#eventList").val()
            if (event == null) {
                return
            }
            $.post("/ajax_add_event", {event: event, ip: ip, prefix: prefix}, function (data) {
                $("#displaymessage").html(data).show();
                location.reload()
            });
        })
        $("#reset-pages").on("click", function () {
            $.post("/reset_pages", {},function() { console.log("A");location.reload();})
        })

        $("#getEventButton").on("click", async function () {
            $("#eventList").empty()
            const response = await fetch('http://' + $("#eventIP").val() + '/api/v1/events/');
            const myJson = await response.json(); //extract JSON from the http response
            console.log(myJson)
            for (var i in myJson.eventCodes) {
                console.log(i, myJson.eventCodes[i])
                $("#eventList").append(new Option(myJson.eventCodes[i], myJson.eventCodes[i]));
            }

        })

        function resetButtons() {
            $(this).parents("tr").find(".edit, .delete").show()
            $(this).parents("tr").find(".add, .update, .cancel").hide()
            $(".add-new").removeAttr("disabled");
        }

        function editbox_to_fixed() {
            console.log("Edit-To-Fixed")
            let input = $(this).parents("tr").find('input[name="pageedit"]');
            input.each(function () {
                let data = ''
                $(this).parent("td").html(data);
            });
        }

        function send_data(new_page) {
            const name = $("#name").val();
            const url = $("#url").val();
            let record_id = -1
            if (!new_page) {
                record_id = $(this).attr("id");
            }
            let good = true;
            // Highlight text boxes if they are empty
            $(this).parents("tr").find('input[type="text"]').each(function () {
                $(this).removeClass("error");
                if (!$(this).val()) {
                    $(this).addClass("error");
                    good = false;
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            $.post("/ajax_add_update", {record_id: record_id, name: name, url: url, proxy: false}, function (data) {
                $("#displaymessage").html(data).show();
            });
            return good;
        }

        function make_editable() {
            $(this).parents("tr").find("td:not(:nth-last-child(2))").each(function (i) {
                console.log("Editable")
                if (i === 0) {
                    $(this).html('<input type="text" name="pageedit" id="name" class="form-control" value="' + $(this).text() + '">');
                } else if (i === 1) {
                    $(this).html('<input type="text" name="pageedit" id="url" class="form-control" value="' + $(this).text() + '">');
                }

            });
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            let actions = '<div style="display:flex"> <a class="add" title="Add" data-toggle="tooltip" id="{{ name }}"><i class="fas fa-user-plus"></i></a> <a class="update" title="Update" data-toggle="tooltip" id="{{ name }}"><i class="fas fa-plus"></i></a> <a class="edit" title="Edit" data-toggle="tooltip" id="{{ name }}"><i class="fas fa-edit"></i></a>  <a class="delete" title="Delete" data-toggle="tooltip" id="{{ name }}"><i class="fas fa-trash"></i></a>  <a class="cancel" title="Cancel" data-toggle="tooltip" id="{{ name }}"><i class="fas fa-ban"></i></a>  </div>'
            // Append table with add row form on add new button click
            $(".add-event").on("click", function () {
                let event = prompt("What is the event code?");
                if (!event)
                    return
                let ip = prompt("What is the IP address?");
                if (!ip)
                    return
                let prefix = prompt("Name prefix (for multi-division)")

                console.log(event,ip,prefix)

                $.post("/ajax_add_event",{event: event, ip: ip, prefix: prefix}, function (data) {
                    $("#displaymessage").html(data).show();
                    location.reload()
                });



            });
            // Append table with add row form on add new button click
            $(".add-new").on("click", function () {
                $(this).attr("disabled", "disabled");
                let row = '<tr><td></td><td>' + actions + '</td><td></td></tr>';
                $("table").append(row);

                let last = $("table tr:last-child td:nth-last-child(2)")
                make_editable.call(last)
                last.find(".add, .cancel").show();
                last.find(".update, .edit, .delete").hide();
                last.find(".update").hide();
                $('[data-toggle="tooltip"]').tooltip();

            });


            $(document).on("click", ".cancel", function () {
                location.reload();
            });

            $(document).on("click", "#displaymessage", function () {
                $("#displaymessage").hide();
            });

            // Add row on add button click
            $(document).on("click", ".add", function () {
                if (send_data.call(this, true)) {
                    editbox_to_fixed.call(this);
                    resetButtons.call(this)
                    location.reload(); // Refresh to assign proper ID to new row.
                }
            });
            // Delete row on delete button click
            $(document).on("click", ".delete", function () {
                resetButtons()
                $(this).parents("tr").remove();
                let id = $(this).attr("id");
                $.post("/ajax_delete", {record_id: id}, function (data) {
                    $("#displaymessage").html(data).show();
                    //$("#displaymessage");
                });
            });

            // Save edits
            $(document).on("click", ".update", function () {
                console.log("update")
                if (send_data.call(this, false)) {
                    editbox_to_fixed.call(this);
                    resetButtons.call(this)
                    location.reload();
                }
            });
            // Start Edits
            $(document).on("click", ".edit", function () {
                console.log("edit")
                make_editable.call(this);
                $(this).parents("tr").find($(".update,.cancel, .edit, .delete")).toggle();
                $(".add-new").attr("disabled", "disabled");

            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Displayable Pages</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add Page</button>
                        <button type="button" class="btn btn-info add-event" id="add-event"><i class="fa fa-plus"></i> Add Event</button>
                        <button type="button" class="btn btn-info" id="reset-pages"><i class="fa fa-trash-alt"></i> Reset</button>
                    </div>
                    <div class='btn btn-info' id="displaymessage"
                         style="display:none;width:100%;margin-top:10px;"></div>
                </div>
                <div class="row">
                    <label>Prefix</label><input id="prefix">
                    <label>Scoring IP</label><input id="eventIP">
                    <button id="getEventButton">Get Event List</button>

                    <select id="eventList"></select>
                    <button id="AddEvent">Add Event</button>

                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width:10em">Name</th>
                    <th style="width:5em">Actions</th>
                    <th style="width:25em">URL</th>
                </tr>
                </thead>
                <tbody>

                {% for name, url in all_pages.items() %}
                    <tr>
                        <td>{{ name }}</td>

                        <td>
                            <div style="display:flex">
                                <a class="add" title="Add" data-toggle="tooltip" id="{{ name }}"><i
                                        class="fas fa-user-plus"></i></a>
                                <a class="update" title="Update" data-toggle="tooltip" id="{{ name }}"><i
                                        class="fas fa-plus"></i></a>
                                <a class="edit" title="Edit" data-toggle="tooltip" id="{{ name }}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip" id="{{ name }}"><i
                                        class="fas fa-trash"></i></a>
                                <a class="cancel" title="Cancel" data-toggle="tooltip" id="{{ name }}"><i
                                        class="fas fa-ban"></i></a>
                            </div>
                        </td>
                        <td>{{ url }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}