{% extends "base.html" %}
{% set active_page = "id_page" %}

{% block extra_head %}
    <meta http-equiv="refresh" content="10">
{% endblock extra_head %}

{% block content %}
    <h1> Welcome to The Robotics Kiosk</h1>
    <table style="font-size: 4vw;" class="table-bordered">

        <tr>
            <td>ID</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ friendly_name }}</td>
        </tr>
        <tr>
            <td>My IPs are</td>
            <td>
                {% for addr in ip_address %}
                    <p>{{ addr }}</p>
                {% endfor %}</td>
        </tr>
        <tr>
            <td>SSID</td>
            <td>{{ ssid }}</td>
        </tr>
        <tr>
            <td>Group</td>
            <td>{{ group }}</td>
        </tr>
        <tr> <td>Version</td><td>{{ version }}</td></tr>
    </table>
{% endblock content %}