{% extends "base.html" %}
{% set active_page = "matrix" %}

{% block style %}
    {{ super() }}
    <style>
        div {
            text-align: center;
        }

        #matrix {
            margin: 0 auto;
            padding: 5px;
        }


        #matrixTable button {
            padding: 7px;
        }

        #matrixTable button {
            height: 80px;
            width: 80px;
            border: none;
            font-family: helvetica, ui-sans-serif;
            font-weight: bold;
        }

        #matrixTable .active {
            background-color: rgba(255, 153, 51, 0.5);
        }



        #matrixTable .partial {
            background-color: rgba(0, 53, 51, 0.5);
        }

        button:hover {
            background-color: rgb(255, 153, 51, .2);
        }
        #matrixTable .active:hover {
            background-color: rgb(255, 153, 51);
        }
        button:disabled{
            background-color: rgba(0, 0, 0, 0.5);
        }

    </style>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        function refresh_matrix(data) {

            let table = document.getElementById("matrixTable");
            table.innerHTML = ""


            let head = table.createTHead()
            let head_row1 = head.insertRow()


            head_row1.innerHTML = '<th rowspan="2" colspan="2"></th>'  // Row Header
            head_row1.innerHTML += `<th colspan="${data['displays'].length}">Individuals</th>`
            if (data['groups'].length > 0) {
                head_row1.innerHTML += '<th></th>'   // Spacing
                head_row1.innerHTML += `<th colspan="${data['groups'].length}">Groups</th>`
            }

            let head_row2 = head.insertRow()


            head_row2.innerHTML = ''
            data["displays"].forEach((disp) => {
                head_row2.innerHTML += `<th><div title="${disp.name}">${disp.friendly_name}</div></th>`
            })
            if (data['groups'].length > 0) {
                head_row2.innerHTML += `<th>&nbsp;&nbsp;&nbsp;</th>`
                data["groups"].forEach(disp => {
                    head_row2.innerHTML += `<th><div title="${disp.name}">${disp.friendly_name}</div></th>`
                })
            }

            function cell_data(name, url, disp, row, disable=false) {
                let cell = row.insertCell(-1)
                if (url === disp.current_page) {
                    cell.innerHTML = `<button id="b1" class="matrix active" data-page="${name}" data-display="${disp.name}">Active</button>`;
                } else if (disp.current_pages?.indexOf(url) >= 0) {
                    cell.innerHTML = `<button id="b1" class="matrix partial" data-page="${name}" data-display="${disp.name}">Split</button>`
                } else if (disable ||
                    (url.startsWith("ndi") && disp.ndi_support === "false") ||
                    (url.startsWith("http") && disp.browser_support == "false")) {
                    cell.innerHTML = `<button disabled id="b1" class="matrix" data-page="${name}" data-display="${disp.name}"></button>`;
                    }
                else {
                    cell.innerHTML = `<button id="b1" class="matrix" data-page="${name}" data-display="${disp.name}"></button>`;
                }
            }

            function row_loop(name, url, disable=false) {
                let row = table.insertRow()
                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                row.insertCell(0);

                row.innerHTML = `<th><div title="${url}" style="word-break: break-word;">${name}</div></th>`;
                data["displays"].forEach((disp) => {
                    cell_data(name, url, disp, row, disable);
                })
                let cell = row.insertCell(-1)
                cell.innerHTML = ``
                data["groups"].forEach((disp) => {
                    cell_data(name, url, disp, row, disable);
                })
            }

            table.insertRow().innerHTML = `<th rowspan="${Object.entries(data["all_pages"]).length + 1}">Webpages</th>`
            //console.log(data["all_pages"])

            Object.entries(data["all_pages"]).forEach(([name, url])=>{
                row_loop(name, url);
            })
            if (Object.entries(data["ndi_displays"]).length > 0) {
                let row = table.insertRow()
                row.innerHTML = `<td colspan="${data['displays'].length + data['groups'].length + 3}">&nbsp;</td>`

                table.insertRow().innerHTML = `<th rowspan="${Object.entries(data["ndi_displays"]).length + 1}">NDI Displays</th>`

                Object.entries(data["ndi_displays"]).forEach(([name, url]) => {
                    row_loop(name, url);
                })
            }

            if (Object.entries(data["undef_pages"]).length > 0) {
                let row = table.insertRow()
                row.innerHTML = `<td colspan="${data['displays'].length + data['groups'].length + 3}">&nbsp;</td>`

                table.insertRow().innerHTML = `<th rowspan="${Object.entries(data["undef_pages"]).length + 1}">Undefined Pages</th>`

                Object.entries(data["undef_pages"]).forEach(([name, url]) => {
                    row_loop(name, url, true);
                })
            }
        }

        $(function () {

            // Delete row on delete button click
            $(document).on("click", ".matrix", function () {
                let page = $(this).data("page")
                let display = $(this).data("display")
                console.log($(this))

                document.querySelectorAll(`[data-display='${display}']`).forEach((button) => {
                    button.innerHTML = ""
                    button.classList.remove("active")
                })
                $(this).text("Active")
                $(this).addClass("active")

                $.post("/matrix_update", {display: display, page: page}, function (data) {
                    refresh_matrix(data)
                })
                //$.post("/matrix_update", {display:display, page: page})

            });
            refresh()
            setInterval(refresh, 1000)
        });

        function refresh() {
            $.get("/matrix_update", {}, function (data) {
                refresh_matrix(data)
            })
        }
    </script>
{% endblock %}


{% block content %}
    <div>
        <table id="matrixTable" class="table-bordered">


        </table>
    </div>
{% endblock content %}