{% extends "base.html" %}
{% set active_page = "matrix" %}

{% block style %}
    {{ super() }}
    <style>
        div {
            text-align: center;
        }

        #matrix {
            margin: 0 auto;
            padding: 5px;
        }


        #matrixTable button {
            padding: 7px;
        }

        #matrixTable button {
            height: 80px;
            width: 80px;
            border: none;
            font-family: helvetica, sans-serif
        ;
            font-weight: bold;
        }

        #matrixTable .active {
            background-color: rgba(255, 153, 51, 0.5);
        }

        #matrixTable .active:hover {
            background-color: rgb(255, 153, 51);
        }

    </style>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        let kiosk_data = [];
        {% for kiosk in kiosks %}
            kiosk_data["{{ kiosk.name }}"] = {{ kiosk.media_files|safe }};
        {% endfor %}


        function send_command(command, data = {}) {
            let all_boxes = document.getElementsByName('playme')
            let playme = []
            for (let i = 0; i < all_boxes.length; i++) {
                if (all_boxes[i].checked) {
                    playme.push(all_boxes[i].id)
                }
            }
            data["kiosks"] = playme
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: command,
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (result) {
                    jQuery("#clash").html(result);
                }, error: function (result) {
                    console.log(result);
                }
            });
        }

        function play() {
            send_command('/api/media/play_all');
        }

        function stop() {
            send_command('/api/media/stop_all');
        }

        function pause() {
            send_command('/api/media/pause_all');
        }

        function load() {
            const file = document.getElementById('media_file').value
            send_command('/api/media/load_all', {"file": file});
        }

        function upload_to_other(kiosk,file){
            console.log("Upload to ",kiosk,file)
            send_command('/api/share_media',{"file": file, "kiosk":kiosk })
        }


        function media_change() {
            console.log(kiosk_data)

            for (const [key, value] of Object.entries(kiosk_data)) {
                console.log(`${key}: ${value}`);
                const file = document.getElementById('media_file').value
                let result = value.includes(file)
                console.log(result)
                let row = document.getElementById(key)
                row.children[1].innerText = result + "&#f058;"
                if (value.includes(file)){
                    row.children[1].innerHTML = '<i class="far fa-check-circle fa-3x" style="color:greenyellow" ></i>'
                }
                else {
                    row.children[1].innerHTML = `<i class="fas fa-cloud-download-alt fa-3x" onclick="upload_to_other('${key}','${file}')" style="color:red" ></i>`
                }

            }
        }
        $(function () {
            media_change()
        })
    </script>
{% endblock %}

{% block content %}

    <table class="table-bordered">
        <tr>
            <th>Name</th>
            <th>Has Media</th>
            <th>Play?</th>
        </tr>
        {% for kiosk in kiosks %}
            <tr id="{{ kiosk.name }}">
                <td>{{ kiosk.friendly_name }}</td>
                <td> - </td>
                <td><label for="{{ kiosk.name }}"></label><input type="checkbox" name="playme" id="{{ kiosk.name }}" style="width:40px;height:40px"/></td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <label for="media_file">Active Media</label><select id="media_file" onchange="media_change()">
            {% for media in media_list %}
                {% if "A" == media %}
                    <option value="{{ media }}" SELECTED>{{ media }}</option>
                {% else %}
                    <option value="{{ media }}">{{ media }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <br>

    <i class="far fa-pause-circle fa-5x" onclick="pause()" title="Pause"></i>
    <i class="far fa-play-circle fa-5x" onclick="play()" title="Play"></i>
    <i class="far fa-stop-circle fa-5x" onclick="stop()" title="Stop"></i>
    <i class="fas fa-plus-circle fa-5x" onclick="load()" style="color:red" title="Queue to fullscreen"></i>

{% endblock %}