{% block navbar %}

{#    FIXME   THIS NEEDS LICENSE DETAILS #}
{#    https://stackoverflow.com/questions/71834254/flask-nav-navigation-alternative-for-python-3-10#}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{config['SITE_TITLE']}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {% for item in navbar %}
                    {% if item.sublinks %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{item.text}}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                {% for sublink in item.sublinks %}
                                    <a class='dropdown-item' href="{{sublink.url}}">{{sublink.text}}</a>
                                {% endfor %}
                            </div>
                        </li>

                    {% elif item.url %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{item.url}}">{{item.text}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </nav>
{% endblock %}
