{% extends "base.html" %}
{% set active_page = "id_page" %}

{% block content %}
    <div style="text-align: center;"><h1>Password is '{{ password }}'</h1></div>
    <iframe src="{{ url }}"
        title="NDI controller"
        style="height: 90vh;width: 100vw;"></iframe>
{% endblock content %}