{% extends 'base.html' %}
{% set active_page = "config_pages" %}

{% block javascript %}
    <script type="text/javascript">
       function BuildQRCodes(e){
            $( ".QRCodes" ).html("")
            e.preventDefault()
            var formData = new FormData(document.forms.qrcodedata)

            var ip = formData.get('ip');
            var code = formData.get('code');
            var scale = 2
            if (!ip.startsWith("http://") || !ip.startsWith("https://")){
                ip = 'http://' + ip
            }

            var urls = [
                ["Robot Inspection", `${ip}/event/${code}/inspect/robot/`],
                ["Field Inspection", `${ip}/event/${code}/inspect/field/`],
                ["Team Check-in", `${ip}/event/${code}/inspect/checkin/`],
                ["Judge Queue", `${ip}/event/${code}/inspect/judging/`],
                ["Red Ref", `${ip}/event/${code}/ref/red/`],
                ["Blue Ref", `${ip}/event/${code}/ref/blue/`],


            ]
            $(".QRCodes").append("<hr><H3>Page URLs</h3>")
            urls.forEach(([label, url]) => {
                $(".QRCodes").append(`<img height=300px src="qrcode?data=${encodeURIComponent(url)}&label=${label}&scale=${scale}">`)
            })

           $(".QRCodes").append("<hr><H3>Login URLs</h3><p>No need to log out to switch accounts</p>")

            var s = formData.get("userpass")
            s.split(/[\n]+/).forEach(line => {
               var raw = line.split(/[ \t]+/)
               if (raw.length != 1) {
                   console.log(raw[0], '--', raw[1])
                   var url = `${ip}/callback/?username=${raw[0].trim()}&password=${raw[1].trim()}` //&submit:Login`
                    console.log(url)

                       $(".QRCodes").append(`<img height=300px src="qrcode?data=${encodeURIComponent(url)}&label=${raw[0]}&scale=${scale}">`)
               }
           })




            return false
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">

    <form onsubmit="BuildQRCodes(event)" id="qrcodedata">
        <div><label>IP Address</label><input name="ip"></div>
        <div><label>Event code</label><input name="code"></div>
        {# Could query the api with http://localhost/api/v1/events/    http://localhost/swagger-docs/api.html #}
        <div><label><b>Username Password</b><br> 1 pair per line<br>whitespace separated.</label><textarea name="userpass" style="width:30em"></textarea></div>
        <button >Submit</button>
    </form>
    </div>
    <div class="QRCodes">
    </div>

{% endblock %}